<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/assets/Favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap">
    <% for (const stylesheet of stylesheets) {%>
        <link rel="stylesheet" href=<%= stylesheet %>>
    <% } %>
</head>
<body>
