<nav class="animenu" role="navigation" aria-label="Menu">
  <button class="animenu__btn">
    <a id="mobile-menu-toggler"><i class="fas fa-bars"></i></a> 
  </button>

  <ul class="animenu__nav">
    <li><a id="brand" href="#">AzurBooru</a></li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">Posts</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">List</a></li>
        <li><a href="#" role="menuitem">Upload</a></li>
        <li><a href="#" role="menuitem">Hot</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">Comments</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">List</a></li>
        <li><a href="#" role="menuitem">Search</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">Tags</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">List</a></li>
        <li><a href="#" role="menuitem">Search</a></li>
        <li><a href="#" role="menuitem">Aliases</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">My Account</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">Login</a></li>
        <li><a href="#" role="menuitem">Sign Up</a></li>
      </ul>
    </li>
  </ul>
</nav>

<!-- <nav class="nav-bar">
  <a href="/" id="brand"><strong>AzurBooru</strong></a>
  <div class="nav-bar-content">
    <a href="/posts">Posts</a>
    <a href="#">Comments</a>
    <a href="#">Tags</a>
    <a href="#">My Account</a>
  </div>
  <div class="pure-menu">
    <a id="mobile-menu-toggler"><i class="fas fa-bars"></i></a>    
  </div>
</nav> -->