<nav class="nav-bar">
  <a href="/" id="brand"><strong>AzurBooru</strong></a>
  <div class="desktop-menu">
    <a href="/posts">Posts</a>
    <a href="#">Comments</a>
    <a href="#">Tags</a>
  </div>
  <div class="pure-menu">
    <a href="#">My Account</a>
    <a id="mobile-menu-toggler"><i class="fas fa-bars"></i></a>    
  </div>
  <div class="mobile-menu disabled">
    <ul>
      <li>
        <a href="/posts">Posts</a>
      </li>
      <li>
        <a href="#">Comments</a>
      </li>
      <li>
        <a href="#">Tags</a>
      </li>
    </ul>
  </div>
</nav>