<nav class="animenu" role="navigation" aria-label="Menu">
  <a id="animenu__brand" href="/">AzurBooru</a>

  <button class="animenu__btn">
    <a id="mobile-menu-toggler"><i class="fas fa-bars"></i></a> 
  </button>

  <ul class="animenu__nav">
    <li>
      <a href="/posts" class="animenu__nav__hasDropdown" aria-haspopup="true">Posts</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="/posts" role="menuitem">List</a></li>
        <li><a href="/posts/new" role="menuitem">Upload</a></li>
        <li><a href="#" role="menuitem">Hot</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">Comments</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">List</a></li>
        <li><a href="#" role="menuitem">Search</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">Tags</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">List</a></li>
        <li><a href="#" role="menuitem">Search</a></li>
        <li><a href="#" role="menuitem">Aliases</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="animenu__nav__hasDropdown" aria-haspopup="true">My Account</a>
      <ul class="animenu__nav__dropdown" aria-label="submenu" role="menu">
        <li><a href="#" role="menuitem">Login</a></li>
        <li><a href="#" role="menuitem">Sign Up</a></li>
      </ul>
    </li>
  </ul>
</nav>