<nav class="nav-bar">
  <div class="content-menu">
    <a href="/" id="brand"><strong>AzurBooru</strong></a>
    <a href="/posts">Posts</a>
    <a href="#">Comments</a>
    <a href="#">Tags</a>
  </div>
  <div class="account-menu">
    <a href="#">My Account</a>
  </div>
</nav>