<nav class="nav-bar">
  <div class="content-menu">
    <a href="/" class="brand">AzurBooru</a>
    <a href="/posts"><strong>Posts</strong></a>
    <a href="#">Comments</a>
    <a href="#">Tags</a>
  </div>
  <div class="account-menu">
    <a href="#">My Account</a>
  </div>
</nav>