* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #0062d0;
}

ul,
menu {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button {
  padding: 5px;
  border-style: solid;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  width: 100px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  background-color: #0062d0;
  color: #fff;
  border-color: #0062d0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .non-active-page,
  .skipped-pages {
    display: none;
  }
}
