<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/landing.css">
    <title>Azur-booru</title>
</head>

<body>
  <% include ./partials/nav-bar.ejs %>
  <section class="container">
    <h1><a href="/posts">'Refreshed' take on classic boorus with Azur Lane theme</a></h1>
    <p>tfw no cute botes to hold signs</p>
    <% include ./partials/search-bar.ejs %>
  </section>

  <script src="/js/nav-bar.js"></script>
<% include ./partials/footer.ejs %>
