<%- include('./partials/header', { stylesheets: [
    "https://fonts.googleapis.com/css?family=Lato:400,700&display=swap",
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
    "css/main.css",
    "css/landing.css"
  ], title: "Azur-booru"
}) %>

<body>
  <% include ./partials/nav-bar.ejs %>
  <section class="container">
    <h1><a href="/posts">'Refreshed' take on classic boorus with Azur Lane theme</a></h1>
    <p>tfw no cute botes to hold signs</p>
    <% include ./partials/search-bar.ejs %>
  </section>
<% include ./partials/footer.ejs %>
