<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/landing.css">
    <title>Azur-booru</title>
</head>

<body>
  <nav class="landing-nav-bar">
    <div class="content-menu">
      <a href="/posts"><strong>Posts</strong></a>
      <a href="#">Comments</a>
      <a href="#">Tags</a>
    </div>
    <div class="pure-menu">
      <a href="#">My Account</a>
    </div>
    </nav>
  <section class="container">
    <h1><a href="/posts">Azur-booru</a></h1>
    <hr>
    <% include ./partials/search-bar.ejs %>
  </section>

<% include ./partials/footer.ejs %>