* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar > * {
  padding: 5px;
}

.search-bar > button {
  background-color: #006FFA;
  color: #FFF;
  font-weight: bold;
  border-color: #006FFA;
  border-style: solid;
  border-radius: 12%;
  width: 100px;
  margin: 0px 5px;
}

.search-bar > #search {
  width: calc(100% - 100px);
}


.pagination > a {
  padding: 8px 12px;
  color: #006FFA;
  border: 1px solid lightgray;
}

.tags {
  border-right: 1px solid lightgray;
  width: 150px;
  text-align: left;
  line-height: 1.25rem;
}

.tags > ul > li > span {
  color: gray;
}
