* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: 'Lato', sans-serif;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

/* .masthead {
  background: url("/assets/cover-pic.jpg") no-repeat 40% 15%;
  padding-bottom: 300px;
} */

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar > * {
  padding: 5px;
}

.search-bar > button {
  background-color: #0062d0;
  color: #FFF;
  font-weight: bold;
  border-color: #0062d0;
  border-style: solid;
  border-radius: 12%;
  width: 100px;
  margin: 0px 5px;
}

.search-bar > #search {
  width: calc(100% - 100px);
}

.pagination {
  display: flex;
  justify-content: center;
}


.pagination > .pages > a {
  position: relative;
  top: -28px;
  padding: 8px 8px;
  margin: 10px 10px;
  color: white;
  border-radius: 50%;
  background-color: black;
  line-height: 24px;
  width: 24px;
  display: inline-block;
}

.pages {
  height: 3px;
  background-color: black;
}

.pages > a:hover {
  background-color: #005abf;
}

#active-page {
  background-color: #0062d0;
}