.container {
  margin-top: 40px;
  text-align: left;
}

.guidelines {
  text-align: center;
}

form {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.form-entry > label, .rating > legend {
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
}

.form-entry > input, textarea {
  width: 100%;
  margin-bottom: 5px;
}

.rating {
  border: none;
}

.rating > input {
  width: 0;
}

.rating > label {
  display: inline;
  font-weight: normal;
  margin-right: 10px;
}

form > button {
  margin-top: 10px;
}
