#search-bar {
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  text-align: left;
}

.thumbnails {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.thumbnail-preview {
  width: 150px;
  height: 150px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-preview > a > img {
  max-width: 150px; 
  max-height: 150px;
}

img {
  object-fit: contain;
}

.tags {
  width: 200px;
  text-align: left;
  line-height: 1.25rem;
}

.tags > ul > li > span {
  color: gray;
}

.post-info {
  width: 200px;
  border-right: 1px solid lightgray;
  overflow-wrap: break-word;
}

.post-image {
  margin-left: 20px;
}

.post-info > div {
  margin: 25px 0px;
}

.post-info > .tags {
  margin: 5px 0px;
}


.post-info > div > h4 {
  margin-bottom: 10px;
}