body {
  background: linear-gradient(22.5deg, rgba(67, 67, 67, 0.02) 0%, rgba(67, 67, 67, 0.02) 29%,rgba(47, 47, 47, 0.02) 29%, rgba(47, 47, 47, 0.02) 37%,rgba(23, 23, 23, 0.02) 37%, rgba(23, 23, 23, 0.02) 55%,rgba(182, 182, 182, 0.02) 55%, rgba(182, 182, 182, 0.02) 69%,rgba(27, 27, 27, 0.02) 69%, rgba(27, 27, 27, 0.02) 71%,rgba(250, 250, 250, 0.02) 71%, rgba(250, 250, 250, 0.02) 100%),linear-gradient(67.5deg, rgba(117, 117, 117, 0.02) 0%, rgba(117, 117, 117, 0.02) 14%,rgba(199, 199, 199, 0.02) 14%, rgba(199, 199, 199, 0.02) 40%,rgba(33, 33, 33, 0.02) 40%, rgba(33, 33, 33, 0.02) 48%,rgba(135, 135, 135, 0.02) 48%, rgba(135, 135, 135, 0.02) 60%,rgba(148, 148, 148, 0.02) 60%, rgba(148, 148, 148, 0.02) 95%,rgba(53, 53, 53, 0.02) 95%, rgba(53, 53, 53, 0.02) 100%),linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 6%,rgba(251, 251, 251, 0.02) 6%, rgba(251, 251, 251, 0.02) 18%,rgba(2, 2, 2, 0.02) 18%, rgba(2, 2, 2, 0.02) 27%,rgba(253, 253, 253, 0.02) 27%, rgba(253, 253, 253, 0.02) 49%,rgba(128, 128, 128, 0.02) 49%, rgba(128, 128, 128, 0.02) 76%,rgba(150, 150, 150, 0.02) 76%, rgba(150, 150, 150, 0.02) 100%),linear-gradient(90deg, #FFF,#FFF), 
  linear-gradient(to right, black 1px, transparent 1px, transparent);
  background-attachment: fixed;
  height: 100vh;
}

.nav-bar {
  background: rgba(0,0,0,0.9);
}

.search-bar {
  margin-top: 25px;
}

#content {
  margin: 25px 0px;
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
}

.thumbnails {
  width: 100%;
  margin-left: 2%;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-column-gap: 2%;
  align-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

.sidebar {
  text-align: left;
  line-height: 1.25rem;
  width: 200px;
  overflow-wrap: break-word;
}

.sidebar > section:first-of-type {
  margin: 0;
}

.sidebar > section:last-of-type {
  margin: 0;
}

.sidebar > section {
  border: 2px solid black;
  margin: 10px 0;
}

.sidebar > section > ul > div:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid black;
}

.sidebar > section > ul > div:last-child:after {
  border: none;
}

.sidebar-section-generic-content {
  padding: 10px 10px;
  margin: 5px 5px;
  text-transform: uppercase;
  color: #194b96;
}

.sidebar-section-name {
  color: white;
  background-color: #0062d0;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 15px;
}

.tag {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 5px 5px;
}

.tag:hover {
  background-color: #0062d0;
}

.tag:hover a {
  color: white;
}

.tag:hover span {
  color: rgba(255, 255, 255, 0.8);
}

.tag > a {
  text-transform: uppercase;
  color: #0062d0;
}

.tag > span {
  color: gray;
}

.active-tag {
  background-color: #0062d0;
}

.active-tag > a {
  color: white;
}

.active-tag > span {
  color: rgba(255, 255, 255, 0.8);
}


.post-image {
  margin-left: 20px;
}



