#search-bar {
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
}

.thumbnails {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.thumbnail-preview {
  width: 150px;
  height: 150px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-preview > a > img {
  max-width: 150px; 
  max-height: 150px;
}

img {
  object-fit: contain;
}
