<%- include('../partials/header', { stylesheets: [
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
  "/css/main.css",
  "/css/posts.css"
], title: "Register | Azur-booru"
}) %>
  <div class="container">
    <form class="user-form" action="/register" method="POST">
      <div class="form-entry">
        <label for="username">Username</label>
        <input type="text" name="name" id="username">
      </div>
      <div class="form-entry">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <button>Register</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>