<%- include('../partials/header', { stylesheets: [
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
  "/css/main.css",
], title: "500 Internal Error"
}) %>
<div class="container text-center">
  <h1>500 Internal Error</h1>
</div>