.landing-page-bg {
  background: url("/assets/cover-pic.jpg") no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.static-index {
  margin-top: 20%;
  text-align: center;
}

.static-index > p {
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
  color: white;
}

.static-index > h1 > a {
  font-size: 36px;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
  color: white;
}

.search-bar {
  margin-top: 15px;
}

.mobile-menu {
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .static-index {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 576px) {
  .static-index {
    padding: 100px 0;
  }

  .static-index * {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
