* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #0062d0;
}

ul,
menu {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/** FORMS **/
/* Generic */
form {
  width: 100%;
}

.form-entry > input,
textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.form-entry > label,
fieldset > legend {
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
}

fieldset {
  border: none;
}

fieldset > input {
  width: 0;
}

fieldset > label {
  display: inline;
  font-weight: normal;
  margin-right: 10px;
}

form input,
button {
  padding: 5px;
  border-style: solid;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  width: 100px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  background-color: #0062d0;
  color: #fff;
  border-color: #0062d0;
}

form input {
  border-color: lightgray;
  border-width: 1px;
}

/* Search bar form */
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  max-width: 100%;
}

.search-bar > #search {
  width: calc(100% - 100px);
}

.search-bar > button {
  margin-top: 0;
  margin-left: 5px;
}

/* user form */
.user-form {
  margin: auto;
  margin-top: 40px;
  max-width: 500px;
}

.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pages {
  height: 3px;
  background-color: black;
}

.pages > * {
  line-height: 24px;
  display: inline-block;
}

.page {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 40px;
  position: relative;
  top: -18px;
  padding: 8px 8px;
  margin: 0 8px;
}

.page:hover {
  background-color: #005abf;
}

.page-arrow {
  color: black;
  font-size: 36px;
  position: relative;
  top: -13px;
  margin: 0 -6px;
}

a.page-arrow:hover {
  color: #005abf;
}

.skipped-pages {
  color: gray;
  font-size: 36px;
  position: relative;
  top: -22px;
  margin: 0 5px;
}

#active-page {
  background-color: #0062d0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .non-active-page,
  .skipped-pages {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar > #search {
    width: 100%;
  }

  .search-bar > button {
    width: 100%;
    margin-left: 0;
  }
}
