* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #0062d0;
}

ul,
menu {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button {
  padding: 5px;
  border-style: solid;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  width: 100px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  background-color: #0062d0;
  color: #fff;
  border-color: #0062d0;
}

/* user form */
.user-form {
  margin: auto;
  margin-top: 40px;
  max-width: 500px;
}

.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pages {
  height: 3px;
  background-color: black;
}

.pages > * {
  line-height: 24px;
  display: inline-block;
}

.page {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 40px;
  position: relative;
  top: -18px;
  padding: 8px 8px;
  margin: 0 8px;
}

.page:hover {
  background-color: #005abf;
}

.page-arrow {
  color: black;
  font-size: 36px;
  position: relative;
  top: -13px;
  margin: 0 -6px;
}

a.page-arrow:hover {
  color: #005abf;
}

.skipped-pages {
  color: gray;
  font-size: 36px;
  position: relative;
  top: -22px;
  margin: 0 5px;
}

#active-page {
  background-color: #0062d0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .non-active-page,
  .skipped-pages {
    display: none;
  }
}
