<%- include('../partials/header', { stylesheets: [
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
  "/css/main.css",
  "/css/posts.css"
], title: "Edit | Azur-booru"
}) %>
<body>
  <% include ../partials/nav-bar.ejs %>
  <div class="container">
    <div class="guidelines">
      Guidelines -- TBA
    </div>
    <form class="post-form" action="/posts/<%= post.id %>?_method=PUT" method="POST">
      <!-- <div class="form-entry">
        <label for="image">Image</label>
        <input type="file" accept="image/*" name="post[image]" id="image">
      </div> -->
      <div class="form-entry">
        <label for="source">Source</label>
        <input type="text" name="post[source]" id="source" value="<%= post.source %>">
      </div>
      <div class="form-entry">
        <label for="tags">Tags</label>
        <textarea name="post[tags]" id="tags"><%= tags.join(' ')%></textarea>
      </div>
      <fieldset class="form-entry rating">
        <legend>Rating</legend>
        <div>
          <input id="explicit" type="radio" name="post[rating]" value="explicit" 
          <% if(post.rating === 'explicit') { %>
            checked
          <% } %>>
          <label for="explicit">Explicit</label>
        </div>
        <div>
          <input id="questionable" type="radio" name="post[rating]" value="questionable"
          <% if(post.rating === 'questionable') { %>
            checked
          <% } %>>
          <label for="questionable">Questionable</label>
        </div>
        <div>
          <input id="safe" type="radio" name="post[rating]" value="safe"
          <% if(post.rating === 'safe') { %>
            checked
          <% } %>>
          <label for="safe">Safe</label>
        </div>
      </fieldset>
      <button>Submit</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>