<% include ../partials/header.ejs %>

<h1>Image List Here</h1>
<% for (const image of images) { %>
    <% if (image) { %>
        <img src="<%= image %>">
    <% } %>
<% } %>


<% include ../partials/footer.ejs %>