<%- include('../partials/header', { stylesheets: [
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
  "/css/main.css",
  "/css/posts.css"
], title: "Azur-booru"
}) %>
  <div class="container text-center">
    <% include ../partials/search-bar.ejs %>
    <aside class="sidebar">
      <% include ../partials/tag-list.ejs %>
    </aside>
    <div id="content">
      <% if (posts && posts.length > 0) {%>
        <section class="thumbnails">
          <% for (const post of posts) { %>
            <% if (post && post.imageLink) { %>
              <div class="thumbnail-preview">
                <a href="/posts/<%= post._id %>"><img src="<%= post.thumbnailLink%>"></a>
              </div>
            <% } %>
          <% } %>
        </section>
      <% } else {%>
        <h3>Nobody here but us chickens!</h3>
      <% } %>
      <% if (posts && posts.length > 0) {%>
        <%- include('../partials/pagination', pageInfo) %>
      <% } %>
    </div>
  </div>

  <script src="/js/tags.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/pagination.js"></script>
<% include ../partials/footer.ejs %>