<%- include('../partials/header', { stylesheets: [
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css",
  "/css/main.css",
  "/css/posts.css"
], title: "Upload | Azur-booru"
}) %>
  <div class="container">
    <div class="guidelines">
      Guidelines -- TBA
    </div>
    <form class="post-form" action="/posts" method="POST" enctype="multipart/form-data">
      <div class="form-entry">
        <label for="image">Image</label>
        <input type="file" accept="image/*" name="image" id="image" required>
      </div>
      <div class="form-entry">
        <label for="source">Source</label>
        <input type="text" name="post[source]" id="source">
      </div>
      <div class="form-entry">
        <label for="tags">Tags</label>
        <textarea name="post[tags]" id="tags" required></textarea>
      </div>
      <fieldset class="form-entry rating">
        <legend>Rating</legend>
        <div>
          <input id="explicit" type="radio" name="post[rating]" value="explicit">
          <label for="explicit">Explicit</label>
        </div>
        <div>
          <input id="questionable" type="radio" name="post[rating]" value="questionable" checked>
          <label for="questionable">Questionable</label>
        </div>
        <div>
          <input id="safe" type="radio" name="post[rating]" value="safe">
          <label for="safe">Safe</label>
        </div>
      </fieldset>
      <button>Upload</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>